body {margin: 0;} 
  /* make sure that the body starts from the edge of the screen Otherwise there will be atiny ugly gap (horizontal gap) */

    ul.topnav {
        list-style-type: none;
        /* All these are basically lists.These nav tabs are lists with the line break removed Right so they have bullets.here none means that Im saying dont put any bullets in*/
        margin: 0;
        /* Removes again a gap. A vertical gap between the top of the browwser and the start of the nav tab */
        padding: 0;
        /* Removes a gap between the start of the list and the first tab */
        overflow: hidden;
        /* The list may extend bigger than the devoce screen size .This controls it and ensure if it overflows the overflowed content is hidden.The page responsive will make sure that it never overflows horizontally so we should ideally never lose any tab */  
        background-color:   #ffffff ;
    }

    ul.topnav li {float: left;}
    /*Starts the list from the left .This basciallys forces the all the list elements to be left alligned */


    ul.topnav li a {
        border-radius: 150px;
        display: block;
        /* The display of the elements is in the block format */
        color: black;
        /* The colour of all the elements in this is white */
        text-align: center;
        /*In each block the text is center alligned */
        padding: 10px 16px;
        /*The gap between the content and the block is defined in terms of width and height */

        text-decoration: none;
        /*  Text decoration is the formatting options available like underline and  overline and strike through Here what im saying is that there is no text decoration */
    }
    #myself {
      display: block;
        /* The display of the elements is in the block format */
        color: black;

        /* The colour of all the elements in this is white */
        text-align: center;
        /*In each block the text is center alligned */
        padding: 10px 16px;
        /*The gap between the content and the block is defined in terms of width and height */
        font-size: 100px;
        text-decoration: none;
    }


    ul.topnav li a:hover:not(.active) {background-color: #c9dbe9 ;}
    /* As you hover it the bkg color chnages provided that its not active THis  is the thing whiich does tthat */


    ul.topnav li .active {background-color: grey;}
  
    /*Supposed to show the current toolbar page youre in */
    li {
       
    }
    /*The border between the two nav tabs */
    img.pic {
        float:left;
        width:420px;
        height:420px;
    }
#select{
    display:block;
   margin:0px; 
    padding:5px;
   border-radius:150px;
 text-align:center;
color:black;
float:left;
padding:10px 16px;
}
.toc-odd{
   position:absolute;
  margin:20px; 
   background:inherit;
   border-radius:150px;
    display:none;
}
.toc-odd li{
	margin:10px;
	z-index:2;
	display:block;
	background-color:inherit;
}
.fakeclass{
display:none;
}
@media screen and (max-width: 600px){
        ul.topnav li.right, 
        ul.topnav li {float: none;}
	#select{float:none;}
        .fakeclass {display:block;}
	/* If you are losing 600 px screen size then this will conveert the existing nv bar to a vertical nav bar */
  	#select{display:none;}  
	.hex-1{display:none;}
	.hex-5{display:none;}
	.hex-4{display:none;}	
	}
